<%= render "shared/navbar" %>
<div class="banner">
  <h1 class="title">Mr. Cocktail</h1>
  <h5 class="subtitle">Let creativity drive you to create and share Cocktail ideas</h5>
  <p class="main-btn-div"><%= link_to new_cocktail_path, class: "main-btn btn btn-primary btn-lg mt-4" do %>
      <i class="fa fa-plus-circle" aria-hidden="true"></i> Create a Cocktail
    <% end %>
  </p>
  <%= image_tag("https://res.cloudinary.com/dd7bkl8rd/image/upload/v1627056816/cocktails5_1_qshaaa.png", class:"drink-img") %>
</div>
<div class="see-menu">
  <h3>See Menu <i class="fa fa-arrow-down" aria-hidden="true"></i></h3>
</div>
<body class="home-body">
  <h1 class="menu-title"><i class="fas fa-cocktail"></i> Menu</h1>
  <div class="cocktail-list-card mt-3 mb-3 p-4">
    <%# <% @cocktails.each do |cocktail| %> %>
      <%# <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %> %>
      <%# <% end %> %>
    </div>
  </body>
  <%= render "shared/footer" %>
</div>
</div>
