<%# Navbar %>
<nav class="navbar navbar-expand-lg navbar-light">
      <%= link_to "#", class: "navbar-brand" do %>
        <div><%= image_tag "http://cdn.lowgif.com/full/097e4f3269373310-.gif", class: 'logo'%></div>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav justify-text-center ml-3">
          <li class="nav-item active">
            <a class="nav-link mr-3" href="/cocktails#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link mr-3" href="/cocktails#">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mr-3" href="/cocktails/new">Create</a>
          </li>
        </ul>
      </div>
      <a id="menu" class="header__menu d-xs d-xs-block">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M2 6h20v3H2zm0 5h20v3H2zm0 5h20v3H2z"/>
        </svg>
      </a>
    </nav>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

<%# Page Body %>
<body class="show-body">
  <div class="container d-flex justify-content-center">
    <div class="glass-card-white w-75 mt-3 p-4">
    <h1 class="drink-name"><i class="fas fa-plus"></i> Add dose</h1>
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :description %>
        <%= f.association :ingredient %>
        <%= f.submit class: "create-btn"%>
      <% end %>
    </div>
  </div>
</body>