<%= render "shared/navbar" %>
<body class="show-body">
  <div class="container d-flex justify-content-center">
    <div class="glass-card-white w-75 p-4">
    <h1 class="drink-name"><i class="fas fa-plus"></i> Add dose</h1>
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :description %>
        <%= f.association :ingredient %>
        <div class="d-flex justify-content-end"><%= f.submit class: "create-btn"%></div>
      <% end %>
    </div>
  </div>
</body>
<%= render "shared/footer" %>